---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Home from '../../components/Home.astro';
import About from '../../components/About.astro';
import Service from '../../components/Service.astro';
import Skills from '../../components/Skills.astro';
import Portfolio from '../../components/Portfolio.astro';
import News from '../../components/News.astro';
import Contact from '../../components/Contact.astro';
import bodyBgTexture from '../../assets/img/slider/body-bg.svg';
import bodyBgTextureDark from '../../assets/img/slider/body-bg-dark.svg';
---

<BaseLayout title="Serdar Yavuz | Portfolio" lang="en">
  <Home lang="en" />
  <div class="relative bg-gradient-to-b from-[#faf7f3] to-white dark:from-transparent dark:to-transparent">
    <div
      aria-hidden="true"
      class="pointer-events-none absolute inset-0 z-0 opacity-[0.82] dark:hidden"
      style={`background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.08'/%3E%3C/svg%3E"), url("${bodyBgTexture.src}"); background-repeat: repeat, no-repeat; background-size: 200px 200px, cover; background-position: top left, center; -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 160px, black calc(100% - 240px), transparent 100%); mask-image: linear-gradient(to bottom, transparent 0px, black 160px, black calc(100% - 240px), transparent 100%);`}
    ></div>
    <div
      aria-hidden="true"
      class="pointer-events-none absolute inset-0 z-0 hidden dark:block opacity-[0.85]"
      style={`background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.18'/%3E%3C/svg%3E"), url("${bodyBgTextureDark.src}"); background-repeat: repeat, no-repeat; background-size: 200px 200px, cover; background-position: top left, center; -webkit-mask-image: linear-gradient(to bottom, transparent 0px, black 160px, black calc(100% - 240px), transparent 100%); mask-image: linear-gradient(to bottom, transparent 0px, black 160px, black calc(100% - 240px), transparent 100%);`}
    ></div>
    <About lang="en" />
    <Service lang="en" />
    <Skills lang="en" />
    <Portfolio lang="en" />
    <News lang="en" />
    <Contact lang="en" />
    <div aria-hidden="true" class="pointer-events-none absolute bottom-0 inset-x-0 h-40 hidden dark:block bg-gradient-to-b from-transparent to-[#3f4453] z-10"></div>
  </div>
</BaseLayout>
